#header_nav {
	margin: 20px 0 0 0;
}
#header_nav ul {
	list-style-type: none;
}
#header_nav li {
	display: inline;
	border-right: 1px solid #666;
	padding: 0 10px 0 10px;
}
#header_nav li:last-child {
	border-right: none;
}