<!DOCTYPE html>
<html lang="ja">

	<head>
		<meta charset='utf-8' />
		<meta http-equiv="X-UA-Compatible" content="chrome=1" />
		<meta name="description" content="kyokuri.pwsj.org : " />

		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/template.css">
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/common.css">
		<script src="javascript/main.js"></script>

		<title>{{ page.title }} - 京都クリエイティブワークショップ</title>
	</head>

	<body>

		<!-- HEADER -->
		<div id="header_wrap" class="outer">
			<header class="inner">
				<h1 id="project_title">京都クリエイティブワークショップ</h1>
				<nav id="header_nav">
					<ul>
						<li><a href="./">Home</a></li>
						<li><a href="./about.html">「きょーくりっ」って？</a></li>
						<li><a href="./members.html">メンバー</a></li>
						<li><a href="./outline.html">きょーくりっ概要</a></li>
						<li><a href="./activity.html">活動について</a></li>
					</ul>
				</nav>
			</header>
		</div>

		<!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
			<section id="main_content" class="inner">
				{{ content }}
			</section>
		</div>

		<!-- FOOTER	-->
		<div id="footer_wrap" class="outer">
			<footer class="inner">
				<p class="copyright">kyokuri.pwsj.org maintained by <a href="https://github.com/kyokuri">kyokuri</a></p>
				<p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
			</footer>
		</div>

	</body>
</html>